@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap')

$font-title-family: 'Bebas Neue', sans-serif
$text-color: #F3DFA0
$font-title-size: 36px

.header
  display: flex
  justify-content: space-between
  align-items: center
  padding: $padding-small
  background-color: #2C2116

  .container
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%

  .brand
    display: flex
    align-items: center

    img
      padding: 5px
      width: 70px
      height: 80px

    h1
      color: $text-color
      font-family: $font-title-family
      font-size: $font-title-size
      margin-left: $padding-small

  nav
    a
      color: $text-color
      color: $text-color
      font-family: $font-title-family
      
      font-size: 30px
      text-decoration: none
      padding: 15px

      &:hover
        text-decoration: underline
s